body {
    padding: 0;
    margin: 0;
    background-color: #24c539b4;
    color: #000000;
    box-sizing: inherit;
    height: 100%;
    min-height: 100%;
    overflow: visible;
    font-family: 'Charlie Display',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    vertical-align: baseline;
    border: 0;

}

.header-nav {
    background-color: #F4F5F7;
    height: auto;
    overflow: visible;
}
.global-nav--vz {
    background-color: #F4F5F7;
    height: 72px;
    line-height: 24px;
    padding: 0;
    position: relative;
}
.global-nav--vz__background {
    background-color: #F4F5F7;
    position: relative;
    width: 100%;
}
.global-nav--vz__row {
    line-height: 72px;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}
.nav-left {
    align-items: center;
    display: flex;
    float: left;
}
#global-nav--vz__logo {
    width: 193px;
    height: 720px;
}
.global-nav--vz__links {
    
}
.global-nav--vz__link {
    margin: 20;
    height: 720px;
    
}
